
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito+Sans:wght@300;600&family=Raleway:wght@100;300;400;600&family=Roboto+Mono:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

* {
    font-family: Raleway;
}
#containerBox {
    display: grid; 
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(13, 30px); 
    border: 1px solid black;
    width: 600px; 
    background-color: #564256; 
    border-radius: 2em;
}
.header {
    border: 1px solid white; 
    grid-column-start: -10;
    grid-column-end: -4;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 28px; 
    text-align: center; 
    align-self: center; 
}
.from {
    color:  #E8E8E8;
    grid-column-start: -12;
    grid-column-end: -11;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 14px; 
    text-align: center;
    align-self: center;
    
}
.to {
    color: #E8E8E8;
    grid-column-start: -12;
    grid-column-end: -11;
    grid-row-start: 7;
    grid-row-end: 8;
    font-size: 14px; 
    text-align: center;
    align-self: center; 
    
}
.baseCurrency {
    display: flex;
    border: 3px solid #96939B; 
    grid-column-start: -12;
    grid-column-end: -9;
    grid-row-start: 4;
    grid-row-end: 6;
    border-radius: 1em;
    font-size: 22px;
    place-self: center stretch; 
    text-align: center; 
    padding-left: 20px; 
    background-color: #E8E8E8;
    
}
.countryCodes { 
    display: flex;
    border: 3px solid #96939B; 
    grid-column-start: -12;
    grid-column-end: -9;
    grid-row-start: 8;
    grid-row-end: 10;
    border-radius: 1em; 
    font-size: 22px; 
    place-self: center stretch; 
    text-align: center; 
    padding-left: 20px; 
    background-color: #E8E8E8;
}
.baseFlag { /*target img*/
    border: 1px solid white; 
    grid-column-start: -10;
    grid-column-end: -9;
    grid-row-start: 4;
    grid-row-end: 6;
}
.targetFlag {/*target img*/
    border: 1px solid white; 
    grid-column-start: -10;
    grid-column-end: -9;
    grid-row-start: 8;
    grid-row-end: 10;
}
.inputAmount {
    border: 3px solid #A96250;
    background-color: #E8E8E8;
    grid-column-start: -8;
    grid-column-end: -2;
    grid-row-start: 4;
    grid-row-end: 6;
    border-radius: 1em; 
    font-size: 26px; 
    place-self: center stretch; 
    text-align: center; 
}
.countryRates {
    border: 3px solid #A96250; 
    background-color: #E8E8E8;
    grid-column-start: -8;
    grid-column-end: -2;
    grid-row-start: 8;
    grid-row-end: 10;
    border-radius: 1em; 
    font-size: 26px; 
    place-self: center stretch; 
    text-align: center; 
}
.exchangeBox {
    border: 3px solid #D3724D; 
    grid-column-start: -10;
    grid-column-end: -4;
    grid-row-start: 11;
    grid-row-end: 13;
    border-radius: 1em;
    font-size: 22px;  
    text-align: center;
    align-self: center;
    background-color: #E8E8E8;
}

.exchangeBox {
    background-color: pink; 
}

.calculateButton {
    background-color: red; 
}